html {
  font-family: sans-serif;
  background-color: #3d3b40;
  color: #ffffff;
}

main {
  padding: 1rem;
}

h2 {
  font-size: 18pt;
  font-weight: 600;
}

p {
  margin: 0;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.business-card {
  border: 1px solid #000000;
  margin-bottom: 20px;
  max-width: 360px;
  background-color: #ffffff;
  color: #000000;
}

.business-card .side {
  padding: 12px;
  display: flex;
  gap: 8px;
  min-height: 120px;
}

.business-card h2 {
  margin-top: 0;
}

.business-card img {
  width: 100px;
  height: 100px;
}

.business-card button {
  align-self: flex-end;
}

.form-group {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.gallery {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1rem;
}

.modal-container {
  display: flex;
  align-items: stretch;
}

.card {
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  border-radius: 12px;
  max-width: 300px;
  overflow: auto;
}

.card:hover {
  opacity: 80%;
}

.card img {
  width: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.caption {
  color: #000000;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.citation {
  font-size: 10pt;
  color: #000000;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  border: none;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.modal-content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.modal img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.modal .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 4px 8px;
}

.chatbot {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.chatbot #chatbot-prompt {
  border-radius: 4px;
}

.chatbot .chat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.chatbot .message {
  display: flex;
  gap: 1rem;
}

.chatbot .avatar {
  aspect-ratio: square;
  border-radius: 50%;
  background-color: #ffffff;
  min-width: 48px;
}

.chatbot .message>p {
  flex-grow: 1;
  padding: 1rem;
  color: #000000;
  background-color: #ffffff;
  border-radius: 12px;
}

.selector {
  display: flex;
  gap: 1rem;
}

.selector>button {
  width: 100px;
  height: 100px;
}

.selector>button>img {
  display: block;
}

.panel>button {
  width: 100%;
  text-align: left;
  padding: 0 1rem;
}

.panel>.content {
  background-color: #ffffff;
  color: #000000;
  padding: 1rem;
}
